.blogsContainer {
  padding-top: 6rem;
}

.smallBlogsContainer {
  padding: 0 2rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.blogsTitle {
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: bold;
}
