.blogDetails {
  padding-top: 6rem;
}

.topBackground {
  position: absolute;
  top: 6rem;
  background-color: #fff;
  height: 15rem;
  width: 100%;
  z-index: -1;
}

.header {
  color: #000;
  padding: 2rem 1rem;
  margin: 0 auto;
  max-width: 70rem;
}

.header h3 {
  color: #1b282ce4;
}

.header h1 {
  font-size: 1.7rem;
  color: #1b282c;
  text-transform: capitalize;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header img {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 1rem;
  max-width: 900px;
  height: auto;
  max-height: 600px;
  border: 1px solid #fff;
}

.author {
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  color: #fff;
  align-items: center;
  max-width: 70rem;
}

.authorImg {
  border-radius: 50%;
  background-color: #61dafb;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1b282c;
  font-size: 1.5rem;
  font-weight: bold;
}

.authorDetails h3 {
  color: #fff;
  font-weight: bold;
}

.authorDetails p {
  color: #ffffff92;
}

.shareIcon {
  margin-left: auto;
}

.content {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 70rem;
}

.commentContainer {
  padding: 2rem;
  margin: 0 auto;
  max-width: 70rem;
}

.commentContainer h2 {
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.commentContainer .commentText {
  margin-top: 1rem;
}

.createComment {
  margin: 0 auto;
  max-width: 70rem;
  padding: 2rem;
}

.createComment form {
  display: flex;
  flex-direction: column;
}

.createComment textarea {
  color: #000;
  padding: 1rem;
  border-radius: 0.5rem;
}

.createComment button {
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  background-color: #61dafb;
}
