@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

/* .carousel-slider,
.slider-wrapper {
  overflow: visible !important;
} */

.carousel .control-dots {
  text-align: start !important;
  left: 2rem;
  bottom: 300px !important;
  display: flex;
}

.dashboardContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 900px;
  width: 90%;
  padding-top: 8rem;
  margin: 0 auto;
}

.dashboardContainer h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.createNew {
  margin: 1rem auto;
  background-color: #61dafb;
  color: black;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
}

.createNewLink {
  display: flex;
  align-items: center;
  justify-content: center;
}
