.composeBlog {
  padding-top: 6rem;
}

.blogForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  color: #000;
}
/* 
.blogContent {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
} */
.heading {
  padding: 1.5rem;
  margin-left: 2rem;
  padding-bottom: 0;
}

.blogCTitle {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  gap: 1.5rem;
}

.blogForm input {
  border: 0;
  border-bottom: 2px solid #7164f0;
  max-width: 20em;
  padding: 0.5rem;
  outline-color: transparent;
}

.blogForm button {
  padding: 0.6rem;
  color: white;
  background-color: #7164f0;
  border: 0;
  border-radius: 5px;
  max-width: 20em;
  margin-left: 2rem;
}

.blogForm input[type='file']::file-selector-button {
  background-color: #7164f0;
  color: white;
  border: 0;
  border-radius: 3px;
  padding: 0.3rem;
}
